::selection {
    background-color: #ffa811;
    color: white;
}

button, input, a {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Segoe UI", "Poppins";
}

/* Ornaments */
#rectangle-ornament {
    position: absolute;
    top: 10%;
    left: -55%;
    width: 90vw;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 48px;
    z-index: -1;
    transform: rotate(45deg);
}

.line {
    width: 350px;
    height: 2px;
    margin-bottom: 2em;
    background-color: black;
    position: relative;
}

.line::before {
    content: '<';
    position: absolute;
    top: -600%;
    left: -3px;
}

.line::after {
    content: '>';
    position: absolute;
    top: -600%;
    right: -3px;
}

/* Navbar section */
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(15px);
    padding: 1em 2.5em;
    font-size: 1.2em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.navbar #nav-logo {
    width: 200px;
}

nav.navbar .subpage {
    display: flex;
    gap: 1em;
}

nav.navbar .subpage a {
    padding: 1em 1.5em;
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
}

nav.navbar .subpage a::after {
    content: '';
    height: 2.5px;
    border-radius: 50rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    background-color: #ffa811;
    transition: .1s;
}

nav.navbar .subpage a:hover::after {
    left: 0;
    right: 0;
}

nav.navbar .subpage a:focus::after {
    left: 0;
    right: 0;
}

/* Header or Hero section */
header.hero {
    --header-auto-margin: calc(108px + 12px);
    padding: 0 6em;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 3em;
    margin: var(--header-auto-margin) 0;
}

header.hero .burger-img img {
    width: 100%;
}

header.hero .burger-img .img-title {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    transform: translateY(-90%);
}

header.hero .burger-img .img-title p {
    margin: 1rem 0;
}

header.hero .burger-img .img-title p.burger-name {
    font-size: 1.2em;
    text-transform: uppercase;
}

header.hero .burger-img .img-title p.burger-detail {
    font-weight: normal;
}

header.hero .burger-img .img-title p.burger-price {
    font-size: 2em;
    font-weight: bolder;
}

header.hero .burger-img-details p.burger-details {
    font-size: 1.4em;
}

header.hero h1.cta-text {
    font-family: "Aclonica", "Segoe UI";
    line-height: 1.5;
    font-size: 4em;
    font-weight: 400;
}

header.hero #menus-options {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

header.hero #menus-options .options img {
    width: 200px;
    border-radius: 24px;
}

header.hero #menus-options .options a {
    z-index: 10;
    position: relative;
}

header.hero #menus-options .options a::after {
    content: '';
    z-index: -1;
    border-radius: 24px;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    border: 3px solid #ffa811;
    transition: .3s;
}

header.hero #menus-options .options a:hover::after {
    top: -6px;
    bottom: -3px;
    left: -6px;
    right: -6px;
}

header.hero #menus-options button#order-now {
    padding: 1em;
    border-radius: 1em;
    border: none;
    background-color: #ffa811;
    color: white;
    font-family: inherit;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

header.hero #menus-options button#order-now:hover {
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(15px);
    color: black;
    box-shadow: inset 0 0 0 2px #ffa811;
}

/* Food Category */
section.main-body {
    padding: 0 6em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

section.main-body * {
    margin: 0;
}

p.food-category-title {
    font-size: 1.4em;
}

p.food-category-title, h2.food-category-detail span {
    color: red;
}

section.main-body h2.food-category-detail {
    font-size: 2em;
}

section.food-category .options .content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

section.food-category .options .content-item img {
    border-radius: 2.5em;
    width: 100%;
}

/* Item Ingredients Section */
section.item-ingredients .ingredients-container {
    --img-explicit-width: 108px;
    display: grid;
    place-items: center;
    grid-template: 1fr .7fr .5fr / 1fr 1.5fr 1fr;
}

section.item-ingredients .ingredients-container > img {
    width: 120%;
    grid-row: 1 / 3;
    grid-column-start: 2;
}

section.item-ingredients .ingredients-container .item:not(.item:last-child) {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 1em;
    place-items: end start;
}

section.item-ingredients .ingredients-container .item img {
    width: var(--img-explicit-width);
    grid-row: 1 / 3;
}

section.item-ingredients .ingredients-container .item:nth-child(odd) img {
    grid-column-start: 1;
}

section.item-ingredients .ingredients-container .item:last-child {
    grid-column-start: 2;
    place-self: start center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

section.item-ingredients .ingredients-container .item:last-of-type img {
    grid-row-start: 1;
    grid-column-start: 1;
}

section.item-ingredients .ingredients-container .item h2.item-title {
    font-weight: 500;
    margin: 0;
}

section.item-ingredients .ingredients-container .item p.item-detail {
    color: red;
    grid-row-start: 2;
}

section.item-ingredients .ingredients-container .item:nth-of-type(1) img {
    transform: translateY(3em);
}

section.item-ingredients .ingredients-container .item:nth-of-type(2) img {
    transform: rotate(135deg);
}

section.item-ingredients .ingredients-container .item:nth-of-type(4) img {
    transform: scale(1.5) translate(2em ,-2em);
}

section.item-ingredients .ingredients-container .item:nth-of-type(5) img {
    transform: translate(2em, -2em) scale(1.7) rotate(60deg);
}

/* Slogan Section */
section.services .services-container {
    background-image: linear-gradient(to right, rgba(236, 0, 0, .6), rgba(255, 168, 17, .6));
    box-sizing: border-box;
    padding: 40px 106px;
    width: 100%;
    border-radius: 2em;
    color: white;
    display: grid;
    place-items: center start;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 3fr 1fr;
    row-gap: 1em;
    column-gap: 2.5em;
}

section.services .services-container a.order {
    padding: 12px 24px;
    box-shadow: 0 0 0 2px white;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    border-radius: .8em;
    transition: .3s;
}

section.services .services-container h2.services-title {
    font-weight: 500;
    font-size: 2em;
    line-height: 1.5;
}

section.services .services-container p.services-detail {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6;
}

section.services .services-container a.order:hover {
    background-color: #fff;
    color: black;
    box-shadow: none;
}

section.services .services-container img {
    grid-row: 1 / span 3;
    grid-column: 2;
    width: 100%;
}

/* Testimoni Section */
section.testimonial h2 {
    font-weight: 500;
    margin: 0;
}

section.testimonial h2.testimoni {
    margin-top: 32px;
    font-size: 40px;
    color: red;
}

section.testimonial h2.testimoni-title {
    font-size: 48px;
}

section.testimonial h2.testimoni-title span {
    color: red;
}

section.testimonial .testimoni-container {
    margin-top: 3em;
    display: grid;
    column-gap: 4em;
    grid-template-columns: repeat(2, 1fr);
}

section.testimonial .testimoni-container .item {
    --user-img-width: 64px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    row-gap: 2em;
}

section.testimonial img.user-photo {
    width: var(--user-img-width);
}

section.testimonial .rating {
    place-self: center end;
}

section.testimonial .rating img {
    width: 24px;
}

section.testimonial .testimoni-container .user-details {
    display: grid;
    place-items: center start;
    grid-template: repeat(2, 1fr) / var(--user-img-width) 1fr;
    column-gap: 1.5em;
}

section.testimonial .testimoni-container .user-details img.user-photo {
    grid-row: 1 / 3;
}

section.testimonial .testimoni-container .user-details p.username {
    font-weight: 500;
    font-size: 1.1em;
}

section.testimonial .testimoni-container p.user-review {
    text-align: justify;
    text-indent: 2em;
    grid-column: 1 / 3;
}

/* Footer */
footer.footer-section {
    --footer-padding-top: 64px;
    --logo-img-height: 40px;
    --social-media-img-width: 32px;
    padding: var(--footer-padding-top) calc(2 * var(--footer-padding-top));
    background-color: #ec0000;
    color: white;
    display: grid;
    grid-template: repeat(2, auto) / 1fr 1.5fr;
    column-gap: 3em;
    row-gap: 2em;
}

footer.footer-section .img-logo-container {
    grid-column: 1 / 4;
}

footer.footer-section .img-logo-container img {
    height: var(--logo-img-height);
}

footer.footer-section p.product-slogan {
    font-size: 1.3em;
}

footer.footer-section .product-links {
    font-size: 1.1em;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    place-self: end;
    column-gap: 3em;
    row-gap: 1em;
}

footer.footer-section .product-links p.links-header {
    font-size: 1.1em;
    font-weight: 500;
    margin: 3px 0;
}

footer.footer-section .product-links a {
    display: flex;
    gap: .8em;
    width: fit-content;
    color: white;
    text-decoration: none;
    position: relative;
}

footer.footer-section .product-links span.badged-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

footer.footer-section .product-links span.new-badge {
    padding: 4px 16px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50em;
}

footer.footer-section .product-links a::after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 100%;
    background-color: #fff;
    transition: .3s;
}

footer.footer-section .product-links a:hover::after {
    right: 0;
}

footer.footer-section .social-media-img-links {
    grid-column: 2 / 4;
    place-self: center end;
    display: flex;
    gap: 1.5em;
}

footer.footer-section .social-media-img-links img {
    width: var(--social-media-img-width);
}